<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}"/>
    <title> LOL-Cheer up! </title>
</head>
<body>
    <div id="main"> 
        <img src="https://i.ibb.co/KwKQg5G/pngegg-1.png"
                    width="100" height="100" style="background-color:transparent">
        <span id="title"> LOL_cheer up ! </span>
        <br>
        <p>삭제되었습니다 ! </p>
        <button type="button" id="but1" onclick="location.href = document.referrer"> 결과화면으로 </button>
        <button type="button" id="but2" onclick="location.href='/'"> 메인화면으로 </button>
    </div>
</body>