<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title> LOL-Cheer up! </title>
</head>
<body>
    <div id="main">
        <img src="https://i.ibb.co/KwKQg5G/pngegg-1.png"
                    width="100" height="100" style="background-color:transparent">
        <span> LOL_cheer up ! </span>
        <form action="/search">
            <p> 소환사 정보 검색 </p>
            <input type="text" name="name" id="name" placeholder="소환사명을 입력해주세요."/>
            <input type="submit" value="Search" id="but1"/>
        </form>
        <form action="/match">
            <p> 대전 기록 검색 </p>
            <input type="text" name="nickname" id="nickname1" placeholder="소환사명을 입력해주세요."/>
            <input type="submit" value="Search" id="but2"/>
        </form>
        <form action="/comment">
            <p>응원 남기기</p>
            <p id="repl"> ※ 소환사 정보 검색을 먼저 진행해 주세요 ! ※</p>
            <input type="text" id="nickname2" name="nickname" placeholder="OOO님에게"/>
            <input type="text" id="comment" name="comment" placeholder="응원의 한 마디!"/>
            <input type="submit" value="남기기" id="but3"/>
        </form>
    </div>
</body>