<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}"/>
    <title> LOL-Cheer up! </title>
</head>
<body>
    <div id="main">
        <img src="https://i.ibb.co/KwKQg5G/pngegg-1.png"
                    width="100" height="100" style="background-color:transparent">
        <span id="title"> LOL_cheer up ! </span>
        <br>
        <span>
            {{sum_name}}님의 리그 정보
        </span>
        {% if length != 0 %}
            {% for result in results %}
                <p> {{result[0]}} </p>
                <p> {{result[1]}} {{result[2]}} 리그</p>
                <p> {{result[-1]}} LP </p>
                <p> {{result[3]}} 승 {{result[4]}} 패</p>
                <br>
            {% endfor %}
        {% else %}
            <p>아직 리그가 없습니다.</p>
        {% endif %}
    </div>
    <br>
    <div id="main2">
        <p>
            {{sum_name}}님에게 전달된 응원의 메세지 !
        </p>
        {% for comment in comments%}
            <p id="com"> {{comment}}
                <br>
            </p>
        {% endfor %}
        <form action="/delete">
            <input type="text" name="comment" id="comment" placeholder="삭제 할 내용을 입력해주세요.">
            <br>
            <input type="submit" id=but1 value="삭제">
        </form>
        <button type="button" onclick="location.href='/'" id="but2"> 메인으로 </button>
    </div>
</body>